/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;800;900&display=swap');

:root {
  --navbar: #5b6c65;
  --navText: #e1ede8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  
body {
  background-image: url('images/ropeBackground2'); 
  background-attachment: fixed;
  background-size: cover; 
  font-family: 'Raleway', sans-serif;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

nav {
  background-color: var(--navbar);
  color: var(--navText);
  margin-bottom: 20px;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90vw;
  margin: 0 auto;
  padding: 0 30px;
  overflow: hidden;
  height: 65px;
}

.logo {
  display: flex;
  align-items: center;
  height: inherit;
}


nav ul {
  display: flex;
  list-style-type: none;
}

nav li {
  margin-left: 25px;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: var(--navText);
  cursor: pointer;
}

nav a:hover {
  color: #9ecb7c;
}

nav h1 {
  font-size: 2.4rem;
  font-weight: bold;
}

nav li {
  font-weight: bold;
}

nav img {
  max-width: 45px;
  max-height: 45px;
  margin-right: 15px;
}

.container {
  position: relative;
  text-align: center;
  color: rgb(59, 55, 45);
}
  
/* Center website */
.main {
  max-width: 1500px;
  margin: auto;
}

h1, h2, h3 {
  color: var(--navbar);
  text-align: center;
}

section {
  max-width: 90vw;
  margin: 0 auto;
  padding: 0 30px;
}

.grid-container {
  margin: 8px -16px;
  display: grid; 
  grid-template-columns: repeat(5, 1fr);
}

/* Add padding BETWEEN each column */
.grid-container,
.grid-container > .grid-item {
  padding: 8px;
}

/* Create (100/width) equal columns that floats next to each other */
.grid-item {
  float: left;
  width: 100%;
  padding-top: auto;
}

/* Clear floats after rows */ 
.grid-container:after {
  content: "";
  display: table;
  clear: both;
}
.endcolumn {
  float: left;
  width: 50%;
  padding-top: auto;
}

/* Content */
.content {
  background-color: rgba(148, 145, 134, 0.3);
  padding: 10px;
  padding-top: auto;
  border: 1px solid hsla(47, 8%, 45%, 0.8);
}
.content:hover {
  background-color: rgba(254, 254, 254, 0.8);
  border: 1px solid hsla(51, 6%, 78%, 0.8);
}
.image {
  opacity: 1;
  border: 1px solid hsla(47, 8%, 45%, 0.8);
  width: 100%;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  font-size: 0.8vw;
  margin: 0px -30px 0px -10px;
}
.content:hover .image{
  opacity: 0.25;
}
.content:hover .centered{
  opacity: 1;
}
.content:hover h3{
  color: hsla(47, 10%, 54%, 0.8);
}

.whiteSpace {
  min-height: 400px;
  opacity: 0;
}


/* Responsive layout - makes a five column-layout instead of ten columns */
/*@media screen and (max-width: 1500px) {
  .column {
    width: 20%;
  }
}*/
/* Responsive layout - alters responsive text inside images */
@media screen and (max-width: 2000px) {
  .centered {
    font-size: 1vw;
    padding: 4px;
  }
}
/* Responsive layout - alters responsive text inside images */
@media screen and (max-width: 1800px) {
  .centered {
    font-size: 1.1vw;
    padding: 4px;
  }
}
/* Responsive layout - alters responsive text inside images */
@media screen and (max-width: 1500px) {
  .centered {
    font-size: 1.2vw;
    padding: 4px;
  }
}
/* Responsive layout - makes a three column stack on top of each other instead five stacked */
@media screen and (max-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .centered {
    font-size: 1.9vw;
    padding: 4px;
  }
  navbar {font-size: 0.83rem;}
}
/* Responsive layout - makes the two columns stack on top of each other instead three stacked */
@media screen and (max-width: 900px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .centered {
    font-size: 2.5vw;
    padding: 4px;
  }
  .sticky {
    position: static;
  }
}
/* Responsive layout - makes the single column stack on top of each other instead two stacked */
@media screen and (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
  .centered {
    font-size: 4.3vw;
    padding: 4px;
  }
}